<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <pages>
        <controls>
          <add src="~/UserControls/Header.ascx" tagPrefix="uc1" tagName="Header"/>
          <add src="~/UserControls/Footer.ascx" tagPrefix="uc1" tagName="Footer"/>
          <add src="~/UserControls/Sidebar.ascx" tagPrefix="uc1" tagName="Sidebar"/>
        </controls>
      </pages>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="userinfo" 
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Badiuzzaman\documents\visual studio 2012\Projects\MyPhone\MyPhone\App_Data\UserInfo.mdf&quot;;Integrated Security=True" 
         providerName="System.Data.Sqlclient" />
  </connectionStrings>

</configuration>
